#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#undef APSTUDIO_HIDDEN_SYMBOLS

#include "resource.h"


IDI_MAINICON            ICON                    ".\\Cycle.ico"
BL_MANIFEST RT_MANIFEST ".\\BatteryLine.manifest"
